<header class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
  {{!-- <a class="navbar-brand" href="#">Taskr</a> --}}
  {{#link-to 'tasks' class='navbar-brand'}}Taskr{{/link-to}}
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse {{visible session.isAuthenticated}}" id="navbarNav">
    <ul class="navbar-nav">
      {{!-- <li class="nav-item">
        {{#link-to 'tasks' class='nav-link'}}Tasks{{/link-to}}
      </li> --}}
      {{!-- <li class="nav-item">
        {{#link-to 'settings' class='nav-link'}}Settings{{/link-to}}
      </li> --}}
    </ul>
  </div>
  <div class="navbar-text">
      <button class="btn btn-outline-success my-2 my-sm-0">
        {{#if session.isAuthenticated}}
          <span {{action 'logout'}}>Logout</span>
        {{else}}
          {{#link-to 'signup' tagName='span'}}Signup{{/link-to}}
        {{/if}}
      </button>
    </div>
</header>
<div class="container-fluid" style="margin-top: 85px;margin-bottom: 15px">
  {{outlet}}
</div>
